@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

$widthMobile: 550px;
$colorYellow: hsl(47, 88%, 63%);
$colorWhite: hsl(0, 0%, 100%);
$colorGrey: hsl(0, 0%, 50%);
$colorBlack: hsl(0, 0%, 7%);
$fontSizeParagrafp: 16px;
$fontFamily: 'Figtree', sans-serif;


